.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.headerTitleContainer {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.headerNavContainer {
  display: flex;
  flex-direction: row;
}

.backBtn {
  background-color: #318499;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 24px;
  margin: 0 20px;
  transition: 0.3s;
}

.blogBtn {
  border: 3px solid #318499;
  border-radius: 5px;
  padding: 10px 20px;
}

.petContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.title {
  font-size: 2.5em;
  margin: 0;
}

.subtitle {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

@media (max-width: 740px) {
  .headerContainer {
    padding: 1px;
  }
  .backBtn {
    margin: 0;
  }
  .blogBtn {
    margin: 0;
  }
  .headerNavContainer {
    /* flex-direction: column; */
  }
  .headerTitleContainer {
    padding-left: 0;
  }
}