.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 100%;
  border-top: 3px solid #318499;
}

.footerText {
  font-size: 1em;
  margin: 0;
}

.solidJsLink {
  font-size: 1em;
}

.heartIcon {
  color: #e25555;
}